name: Docker Hub upload (KiCad 7 nightly)

on:
  push:
    tags:
      - n*
  repository_dispatch:
    types: [build_ng]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub and GitHub Packages
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
    - name: Check out the repo
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: |
          setsoft/kicad_auto
          ghcr.io/${{ github.repository }}
        tags: |
          type=raw,nightly

    - name: Build and push Docker images
      uses: docker/build-push-action@v3
      with:
        context: nightly
        push: true
        tags: |
          setsoft/kicad_auto:nightly
          ghcr.io/inti-cmnb/kicad_auto:nightly
        labels: ${{ steps.meta.outputs.labels }}

    - name: Trigger KiCad-Auto-Test image build
      run: |
        curl -X POST -u "${{secrets.PAT_USERNAME}}:${{secrets.PAT_TOKEN}}" -H "Accept: application/vnd.github.v3+json" -H "Content-Type: application/json" https://api.github.com/repos/INTI-CMNB/kicad_auto_test/dispatches --data '{"event_type": "build_ng"}'
